/* IMPORTANTE 
cambiare nome link da style.css a style-bonus.css
per leggere questo file*/


body{
    background-color: #b1e5f2;
    margin-left: 80px;
    margin-right: 80px;
}

/* header */

header img{
    background-image: url(img/pattern.png);
}

h1{
    font-size: 60px;
    font-family:monospace;
    text-align: left;
    margin-bottom: 0px;
}

.titolo p{
    color: #112236;
    margin: 5px;
}

.titolo span{
    background-color: #769da7;
    color: white;
    padding: 5px;
}