

/* header */
header img{
    height: 50px;
}

.pannello-sup{
    height: 100px;
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
    background-size: 400px;
}

h1{
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0px;
}

.titolo p{
    margin: 0px;
    color: #808080;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

#data{
    font-size: 12px;
}

.titolo span{
    color: #20a9e5;
}

/* main */

.foto{
    margin-top: 2vh;
}

.descrizione{
    font-size: 12px;
}

.evidenziato span{
    background-color: #ffff00;
}

    /* tabella */

table{
    font-size: 15px;

}

thead{
    background-color: #20a9e5;
    color: white;
}

.az-chiaro{
    background-color: #b1e5f2;
}

