body{
    padding: 0;
    margin: 0;
}

/* header */
header img{
    height: 45px;
    margin-top: 40px;
    margin-left: 5px;
}

.pannello-sup{
    height: 100px;
    background-image: url(img/pattern.png);
    background-color: #4ea0ff;
    background-size: 400px;
}

h1{
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0px;
    margin-top: 10px;
}

.titolo p{
    margin: 0px;
    color: #808080;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5px;
}

#data{
    font-size: 12px;
}

.titolo span{
    color: #20a9e5;
}

/* main */

.foto{
    margin-top: 2vh;
    margin-left: 5px;
}

.descrizione{
    font-size: 12px;
    margin-left: 5px;
}

.evidenziato span{
    background-color: #ffff00;
}

    /* tabella */

table{
    border-collapse: collapse;
    margin-left: 5px;
}

thead{
    background-color: #20a9e5;
    color: white;
}

.terza-col{
    width: 50%;
}

.az-chiaro{
    background-color: #b1e5f2;
}

/* footer */

strong{
    color: #808080;
}

.riquadro{
    height: 150px;
    width: 180px;
    border: 1px solid black;
    color: white;
}

footer p{
    text-align: center;
}

#r1{
    background: url(img/monitor.jpg);
    background-size: cover;
    margin-left: 5px;
    margin-top: 5px;
}


#r2{
    background: url(img/graph.jpg);
    background-size: cover;
    margin-left: 5px;
    margin-top: 5px;
}
