/* IMPORTANTE 
cambiare nome link da style.css a style-bonus.css
per leggere questo file*/


body{
    background-color: #b1e5f2;
    margin-left: 80px;
    margin-right: 80px;
}

/* header */

header img{
    background-image: url(img/pattern.png);
}

h1{
    font-size: 60px;
    font-family:monospace;
    text-align: left;
    margin-bottom: 0px;
}

.titolo p{
    color: #112236;
    margin: 5px;
}

.titolo span{
    background-color: #769da7;
    color: white;
    padding: 5px;
}

/* Main */

main{
    background-color: #89b2bd;
    padding: 40px;
    border-radius: 20px;
}

.evidenziato{
    background-color: #596d85;
    padding: 10px;
}

.evidenziato span{
    background-color: #769da7;
    padding: 2px;
    color: white;
}

table{
    border-collapse: collapse;
    margin-left: 5px;
    border: 1px solid #596d85;
}

thead{
    background-color: #466c7c;
    color: white;
}

.terza-col{
    width: 50%;
}

.az-chiaro{
    background-color: #6e91a0;
}